@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Slimsy.Services
@inject SlimsyService slimsyService;
@{
	Layout = null;
}

<h1>Hello</h1>

<p>@slimsyService.GetWidthStep()</p>

<div style="max-width: 700px; width: 100%;">
    @if (Model.Picture != null)
    {
        <img srcset="@slimsyService.GetSrcSetUrls(Model.Picture, 500, 0)" style="max-width: 100%; width: 100%" sizes="700px"/>
    }
    
</div>
