@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Slimsy.Services
@inject SlimsyService slimsyService;
@{
	Layout = null;
}

<h1>Hello</h1>

<p>@slimsyService.GetWidthStep()</p>